@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/app'

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?28em95');
  src: url('../fonts/icomoon.eot?28em95#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?28em95') format('truetype'),
    url('../fonts/icomoon.woff?28em95') format('woff'),
    url('../fonts/icomoon.svg?28em95#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="im-"], [class*=" im-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}